{% extends "base.html" %}
{% block obsah %}
    <h1>Zde fotky</h1>
    <!-- Obal pro celou naši mřížku -->
    <div class="galerie-mrizka">
        {% for album in alba_do_html %}
            <!-- Každá dlaždice je odkaz (kliknutím půjdeme do detailu) -->
            <a href="/galerie/{{ album.id }}" class="album-dlazdice">

            <div class="obrazek-kontejner">
                    <!-- Z JSONu taháme tu uvodní fotku -->
                    <img src="/static/{{album.id}}/{{ album.uvodni_fotka }}" alt="{{ album.nazev }}">
            </div>

            <div class="album-info">
                    <h3>{{ album.nazev }}</h3>
                    <p>{{ album.datum }}</p>
            </div>
        </a>
        {% endfor %}
    </div>
{% endblock %}