{% extends "base.html" %}
{% block trida_stranky %}stranka-koncerty{% endblock %}
{% block obsah %}
    <section id="koncerty">
        <div class="tour-header">
            <h2>VYSTOUPENÍ</h2>
        </div>
        
        <ul class="tour-list">
            {% for koncert in koncerty_do_html %}
                <li class="tour-item">
                    <div class="tour-date">{{ koncert.datum }}</div>
                    <div class="tour-venue">{{ koncert.misto }}</div>
                    
                    <div class="tour-location">{{ koncert.mesto }}</div>
                </li>
            {% endfor %}
        </ul>
    </section>
{% endblock %}