{% extends "base.html" %}

{% block obsah %}

    
    <section id="noviny">
        <div class="news_header">
            <h2>{{_('Novinky')}}</h2>
        </div>
        
        <ul class="news_place">
            {% for new in novinky_do_html %}
                <li class="single_new">
                    <div class="new-date">{{ new.datum }}</div>
                    {% if session.get('jazyk') == 'en' %}
                        <!-- Zobrazí se jen, pokud je zapnutá angličtina -->
                        <div class="saying">{{ new.sdeleni_en }}</div>
                    {% else %}
                        <!-- Zobrazí se pro češtinu nebo jako výchozí stav -->
                        <div class="saying">{{ new.sdeleni }}</div>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </section>





{% endblock %}